<h2><%= @project.name %></h2>
<h3>Material: <%= @project.material %></h3>
<h3>Challenge Theme: <%= @project.challenge.theme %></h3>
<h3>Number of Contestants: <%= @project.contestants_count %></h3>
<h3>Average Contestants Experience: <%= @project.contestants_exp %></h3>

<%= form_tag :action => 'update' %>
<%= text_field "contestant", "id" %>
<%= submit_tag( "Add Contestant" ) %>
</form>
